# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API-ключи
APILAYER_API_KEY=ваш_api_key # данные о курсах валют API Currency Data (сервис APILayer)
ALFA_VANTAGE_API_KEY=ваш_api_key # данные о курсах акций API TIME_SERIES_DAILY (сервис Alpha Vantage)